<header class="header" id="navbar-collapse-toggle">
    <!-- Fixed Navigation Starts -->
    <ul id="desktop-nav" class="icon-menu d-none d-lg-block">
        <li class="icon-box desktop-nav-element" routerLink="/home" routerLinkActive="active">
            <i class="fa fa-home"></i>
            <div>
                <h2>Home</h2>
            </div>
        </li>
        <li class="icon-box desktop-nav-element" routerLink="/about" routerLinkActive="active">
            <i class="fa fa-user"></i>
            <div>
                <h2>About</h2>
            </div>
        </li>
        <li class="icon-box desktop-nav-element" routerLink="/contact" routerLinkActive="active">
            <i class="fa fa-envelope-open"></i>
            <div>
                <h2>Contact</h2>
            </div>
        </li>
    </ul>
    <!-- Fixed Navigation Ends -->
    <!-- Mobile Menu Starts -->
    <nav class="d-block d-lg-none">
        <div class="inputmobile" id="inputmobile">
            <div id="trigger-mobile" class="trigger-mobile" (click)="toggleMobileNav()"
                [class.show-menu]="isMobileNavVisible">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="list-unstyled" id="mobile-nav" [class.hide-list]="isMobileNavVisible">
                <li class="mobile-nav-element home-link" routerLink="/home" routerLinkActive="active">
                    <div>
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                    </div>
                </li>
                <li class="mobile-nav-element" routerLink="/about" routerLinkActive="active">
                    <div>
                        <i class="fa fa-user"></i>
                        <span>About</span>
                    </div>
                </li>
                <li class="mobile-nav-element" routerLink="/contact" routerLinkActive="active">
                    <div>
                        <i class="fa fa-envelope-open"></i>
                        <span>Contact</span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Mobile Menu Ends -->
</header>