<div class="page" id="about">
    <!-- Main Content Starts -->
    <!-- Section Title Starts -->
    <div class="title-section text-left text-sm-center">
        <h2>ABOUT <span>ME</span>
        </h2>
        <span class="title-bg">Resume</span>
    </div>
    <!-- Section Title Ends -->
    <div class="about">
        <div class="main-content">
            <div class="container">
                <div class="row">
                    <!-- Personal Info Starts -->
                    <div class="col-12 col-lg-5 col-xl-6">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="text-uppercase custom-title mb-0 ft-wt-600">personal infos</h3>
                            </div>
                            <div class="col-12 d-block d-sm-none">
                                <img src="img/img-mobile.jpg" class="img-fluid main-img-mobile" alt="my picture">
                            </div>
                            <div class="col-6">
                                <ul class="about-list list-unstyled open-sans-font">
                                    <li>
                                        <span class="title">first name : </span>
                                        <span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">
                                            Jagrut</span>
                                    </li>
                                    <li>
                                        <span class="title">last name : </span>
                                        <span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">
                                            Padariya</span>
                                    </li>
                                    <li>
                                        <span class="title">Nationality : </span>
                                        <span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">
                                            Indian</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="about-list list-unstyled open-sans-font">

                                    <li>
                                        <span class="title">Email : </span>
                                        <span
                                            class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">jagrut.k.padariya&#64;gmail.com</span>
                                    </li>
                                    <li>
                                        <span class="title">languages : </span>
                                        <span
                                            class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">Hindi,
                                            English</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 mt-3">
                                <a class="button" href="assets/files/My Resume.pdf" download>
                                    <span class="button-text">Download CV</span>
                                    <span class="button-icon fa fa-download"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Personal Info Ends -->
                    <!-- Boxes Starts -->
                    <div class="col-12 col-lg-7 col-xl-6 mt-5 mt-lg-0">
                        <div class="row">
                            <div class="col-6">
                                <div class="box-stats with-margin">
                                    <h3 class="poppins-font position-relative">1</h3>
                                    <p class="open-sans-font m-0 position-relative text-uppercase">years of <span
                                            class="d-block">experience</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="box-stats with-margin">
                                    <h3 class="poppins-font position-relative">3</h3>
                                    <p class="open-sans-font m-0 position-relative text-uppercase">completed <span
                                            class="d-block">projects</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Boxes Ends -->
                </div>
                <hr class="separator">
                <!-- Skills Starts -->
                <div class="row">
                    <div class="col-12">
                        <h3
                            class="text-uppercase pb-4 pb-sm-5 mb-3 mb-sm-0 text-left text-sm-center custom-title ft-wt-600">
                            My Skills</h3>
                    </div>
                    <div class="col-6 col-md-3 mb-3 mb-sm-5">
                        <div class="c100 p95">
                            <span>95%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">html</h6>
                    </div>
                    <div class="col-6 col-md-3 mb-3 mb-sm-5">
                        <div class="c100 p89">
                            <span>89%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">typescript</h6>
                    </div>
                    <div class="col-6 col-md-3 mb-3 mb-sm-5">
                        <div class="c100 p70">
                            <span>70%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">css</h6>
                    </div>
                    <div class="col-6 col-md-3 mb-3 mb-sm-5">
                        <div class="c100 p66">
                            <span>66%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">javascript</h6>
                    </div>
                    <div class="col-6 col-md-3 mb-3 mb-sm-5">
                        <div class="c100 p25">
                            <span>25%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">mongodb</h6>
                    </div>
                    <div class="col-6 col-md-3 mb-3 mb-sm-5">
                        <div class="c100 p50">
                            <span>50%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">nestjs</h6>
                    </div>
                    <div class="col-6 col-md-3 mb-3 mb-sm-5">
                        <div class="c100 p65">
                            <span>65%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">angular</h6>
                    </div>
                    <div class="col-6 col-md-3 mb-3 mb-sm-5">
                        <div class="c100 p45">
                            <span>45%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">vuejs</h6>
                    </div>
                </div>
                <!-- Skills Ends -->
                <hr class="separator mt-1">
                <!-- Experience & Education Starts -->
                <div class="row">
                    <div class="col-12">
                        <h3 class="text-uppercase pb-5 mb-0 text-left text-sm-center custom-title ft-wt-600">
                            Experience
                            <span>&</span> Education
                        </h3>
                    </div>
                    <div class="col-lg-6 m-15px-tb">
                        <div class="resume-box">
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-briefcase"></i>
                                    </div>
                                    <span class="time open-sans-font text-uppercase">2023 - Present</span>
                                    <h5 class="poppins-font text-uppercase">Web Developer <span
                                            class="place open-sans-font">Anandorja</span>
                                    </h5>
                                    <p class="open-sans-font">Full-stack web developer with expertise in Angular for
                                        front-end development and NestJS for back-end services. Skilled in building
                                        dynamic, scalable web applications with a focus on delivering seamless user
                                        experiences and robust server-side functionality.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 m-15px-tb">
                        <div class="resume-box">
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-graduation-cap"></i>
                                    </div>
                                    <span class="time open-sans-font text-uppercase">2023</span>
                                    <h5 class="poppins-font text-uppercase">Bachelor Degree <span
                                            class="place open-sans-font">Sigma Institute of Engineering</span>
                                    </h5>
                                    <p class="open-sans-font">Bachelor’s degree in Information Technology, with a
                                        strong
                                        foundation in software development, networking, and database management.
                                        Gained
                                        hands-on experience in web technologies, programming languages, and IT
                                        infrastructure, preparing for a career in full-stack web development.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Experience & Education Ends -->
            </div>
        </div>
    </div>
    <!-- Main Content Ends -->
</div>