<div class="page" id="contact">
    <div class="contact">
        <div class="title-section text-left text-sm-center">
            <h2>get in <span>touch</span>
            </h2>
            <span class="title-bg">contact</span>
        </div>
        <div class="main-content">
            <div class="container">
                <div class="row">
                    <!-- Left Side Starts -->
                    <div class="col-12">
                        <h3 class="text-uppercase custom-title mb-0 ft-wt-600 pb-3">Don't be shy !</h3>
                        <p class="text-justify open-sans-font mb-3">Feel free to get in touch with me. I am always open to discussing
                            new projects, creative ideas or opportunities to be part of your visions.</p>
                        <p class="open-sans-font custom-span-contact position-relative">
                            <i class="fa fa-envelope-open position-absolute"></i>
                            <span class="d-block">mail me</span>jagrut.k.padariya&#64;gmail.com
                        </p>
                        <ul class="social list-unstyled pt-1 mb-5">
                            <li class="linkedin">
                                <a title="LinkedIn" href="https://www.linkedin.com/in/jagrut-padariya-9b0416221/"
                                    target="_blank">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="twitter">
                                <a title="Twitter" href="https://x.com/jagrut_padariya?t=hIy6X0rvULphm9ajUsRBGw&s=09"
                                    target="_blank">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li class="github">
                                <a title="GitHub" href="https://github.com/JagrutPadariya" target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>