<div class="pages">
    <!-- Home Starts -->
    <div class="page page--current" id="home">
        <div class="home">
            <div class="container-fluid main-container container-home p-0">
                <div class="color-block d-none d-lg-block"></div>
                <div class="row home-details-container align-items-center">
                    <img class="col-lg-4 position-fixed d-none d-lg-block" src='../../assets/myPic2.jpeg' alt="">
                    <div class="col-12 col-lg-8 offset-lg-4 home-details text-left text-sm-center text-lg-left">
                        <div>
                            <img src="../../assets/myPic.png"
                                class="img-fluid main-img-mobile d-none d-sm-block d-lg-none" alt="my picture">
                            <h1 class="text-uppercase poppins-font">I'm jagrut padariya. <span>web developer</span></h1>
                            <p class="open-sans-font">I'm a Tunisian based web designer & front‑end developer focused on
                                crafting clean & user‑friendly experiences, I am passionate about building excellent
                                software that improves the lives of those around me.</p>
                            <div class="content-left">
                                <a id="link-about" class="button" routerLink="/about">
                                    <span class="button-text">more about me</span>
                                    <i class="button-icon fa fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Home Ends -->
</div>